//. Theme colors
$white: #FFFFFF;
$orange: #FB6520;
$dark: #2C3E50;
$gray: #999999;
$red: #FF3232;

//. Size variables

$mobile: 480px;
$tablet: 720px;
$tablet-big: 1000px;
$laptop: 1200px;
$desktop: 1400px;