.section {
	padding: 0;

	&__heading {

		&--dark {
			margin-bottom: 16px;
			color: $dark;
		}

		&--light {
			margin-bottom: 40px;
			color: $white;
		}

		&--small {
			margin-bottom: 32px;
		}
	}

	&--hero {
		position: relative;
		height: 238px;
		background: url('../assets/images/mobile-top.png') no-repeat center top;
		background-size: auto 100%;
	}

	&__scroll-icon--hero {
		display: none;
	}

	&--content {
		padding: 12px 0;
		background: url('../assets/images/pattern.png');
	}

	&--info {
		padding: 14px 0;
		background: url('../assets/images/mobile-mid.png') no-repeat;
		background-size: cover;
		color: $white;
	}

	&--maps {
		height: 420px;
		width: 100%;
	}

	&--auction {
		justify-content: center;
		padding: 40px 16px;
	}

	&--no-paddings {
		padding: 0!important;
	}


}

@media only screen and (min-width: $sm) {
	.section--info {
		background-image: url('../assets/images/middle.png');
	}
}

@media only screen and (min-width: $md) {
	.section {
		padding: 32px 0;

		&__heading {

			&--dark {
				margin-bottom: 28px;
			}
		}

		&--hero {
			background: url('../assets/images/top.png') no-repeat center;
			background-size: cover;
			height: 600px;
		}

		&--auction {
			padding: 32px 16px;
		}

		&__scroll-icon--hero {
			position: absolute;
			bottom: 24px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
		}
	}
}

@media only screen and (min-width: $md-l) {
	.section {
		&--hero {
			height: 700px;
		}
	}
}

@media only screen and (min-width: $lg) {
	.section {
		padding: 48px 0;

		&--auction {
			padding: 32px 0 72px;
		}
	}
}

@media only screen and (min-width: $xl) {
	.section {
		padding: 72px 0;

	}
}